<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon style="color: rgb(255, 255, 255);">menu</mat-icon></button>
  <h1 class="example-app-name">VIOLET</h1>
  <span class="example-spacer"></span>
  <span style="color: rgb(184, 179, 179); font-size: 17px; padding: 5px 20px;border-radius: 25px; ">Signup</span>
  <span style="color: rgb(0, 0, 0); font-size: 17px; padding: 5px 20px;border-radius: 25px; background-color: white;">Login</span>
  <button [matMenuTriggerFor]="beforeMenu" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before" fxLayoutAlign="center center">
    <button style="justify-content: center;" mat-menu-item>Change Password <span class="material-icons">change_circle</span></button>
    <mat-divider></mat-divider>
    <button style="justify-content: center;" mat-menu-item routerLink="" >Logout <span class="material-icons">logout</span></button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav-width" mode="side" [opened]="isSidenavOpen" (closedStart)="onSidenavClose()">
    <mat-nav-list>
      <mat-list-item routerLink="app"><img style=" height: 27px; width: 30px; margin-right: 10px;  background-color: white;" src="./assets/home.png" ><span>Home</span> </mat-list-item>
      <mat-list-item routerLink="app"><svg style="color: white;margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" fill="white"></path> </svg><span>Search</span> </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="wholepage-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>