<div fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center" style="height: 100%; width: 100%;padding: 20px 20px 20px 40px">
  <div fxLayoutAlign="center center">
    <div fxLayoutAlign="center center" fxLayout="row" class="outer-container">
      <div fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center center" fxLayout="column" fxLayoutGap="3%" fxLayoutGap.lt-sm="0">
        <div class="song_container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayoutGap.lt-sm="0"
          [ngClass]="{'next_animation': frontAnimation,'': !frontAnimation, 'previous_animation': prevAnimation}">
          <img class="image" [src]="data[selectedSong].image" />
          <span class="material-icons favorite"  matTooltip="Add to Favorite" matTooltipPosition="below">favorite</span>
          <div fxLayout="column" fxLayoutGap="6%">
            <h2>{{data[selectedSong].name}}</h2>
          <h4>{{data[selectedSong].author}}</h4>
          </div>          
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8%">
          <span class="material-icons navigate_back" (click)="playPrevious()">fast_rewind</span>
          <span class="material-icons" style="  font-size: 80px;" (click)="togglePlay()">{{ play ? 'pause_circle_filled'
            : 'play_circle_filled'}}</span>
          <span class="material-icons navigate_front" (click)="playNext()">fast_forward</span>
        </div>
        <div class="volume" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4%">
          <span class="material-icons"
            [ngClass]="{'volume_off': value === 0, 'volume_down': value > 0 && value < 0.60, 'volume_up': value >= 0.60}">
            {{value === 0 ? 'volume_off' : (value < 0.60 ? 'volume_down' : 'volume_up' )}} </span>
              <mat-slider [max]="1" [min]="0" [step]="0.01" (input)="volumeControl($event)">
                <input matSliderThumb [(ngModel)]="value">
              </mat-slider>
        </div>
      </div>
    </div>
  </div>
</div>