<div class="background">
  <div fxLayoutAlign="center center" class="content">
    <div fxFlex="50%" fxHide.lt-md></div>
    <div fxFlex="50%" fxFlex.lt-md="100%">
      <div class="inner-content" fxLayoutAlign="center center" fxLayout="column">
        <h1>Music Hub</h1>
        <h4>Music is like a universal language of life. It is basically the sound that is brought together through the harmony of various instruments.</h4>
        <p class="navigate-button" (click)="onNavigate()">Learn More</p>
      </div>
    </div>
  </div>
</div>